{% extends 'users/layout.html' %}

{% block body %}



<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">ЛОГ РАССЫЛКИ</h5>
        <br>
        <h6 class="card-subtitle mb-2 text-body-secondary">Статус попытки: {{object.status_try}}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Дата попытки: {{object.date_try}}</h6>

        <br>
        <p class="card-text">Ответ сервера: {{object.response}}</p>

        <a href="#" class="card-link"></a>

    </div>
</div>



{% endblock %}