{% extends 'users/layout.html' %}

{% load crispy_forms_tags %}




{% block body %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-6">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-center">
                <div class="col-7">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                Редактирование профиля
                            </h5>
                        </div>
                        <div class="card-body">

                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success">Сохранить</button>

                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}